<div class="container">
    <footer>
        <nav>
            <ul>
                <li>
                    {{ with .Site.GetPage "/about-me" }}
                    <a href="{{ .URL }}">
                        {{ .Title }}
                    </a>
                    {{ end }}
                </li>
                <li>
                    {{ with .Site.GetPage "/impressum" }}
                    <a href="{{ .URL }}">
                        {{ .Title }}
                    </a>
                    {{ end }}
                </li>
            </ul>
        </nav>
    </footer>
</div>

<script async
        src="https://ackee.poerschke.nrw/tracker.js"
        data-ackee-server="https://ackee.poerschke.nrw"
        data-ackee-domain-id="90aa7572-07b6-47e5-ae73-fc1dafdbb6fb"></script>

</body>
</html>
